.table-responsive {
    border-radius: 20px;
    border-color: black;
    background-color: black;
}

tr {
    cursor: pointer;
}

.no-events {
    padding: 5px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    color: red;
  }