<div class="container">
    <div class="row">
        <div class="col">
            <img src="{{artist.artistImgUrl}}" class="img-fluid">
            <h4>{{artist.artistName}}</h4>
        </div>
        <div class="col">
            <h5>Popularity</h5>
            <p>{{artist.popularity}}</p>
        </div>
        <div class="col">
            <h5>Followers</h5>
            <p>{{artist.followers}}</p>
        </div>
        <div class="col">
            <h5>Spotify Link</h5>
            <img class="images" src="./assets/spotify_icon.png">
        </div>
    </div>
</div>
