<div class="container">
    <div *ngIf="event.segment === 'Music'; else noArtist">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleControls" *ngFor="let artist of artists; let i = index"
                [attr.data-bs-slide-to]="i" [class.active]="i === 0"></li>
        </ol>
        <div class="row">
            <div class="col-1">
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
            </div>
            <div class="col-10 mb-3">
                <div class="carousel-inner">
                    <div *ngFor="let artist of artists; let i = index" [class.active]="i === 0" class="carousel-item">
                        <div class="row align-items-center m-3">
                            <div class="col justify-content-center">
                                <img [src]="artist.artistImgUrl" class="img-fluid img-circle">
                                <h4 style="color: aquamarine;">{{artist.artistName}}</h4>
                            </div>
                            <div class="col">
                                <h5>Popularity</h5>
                                <!-- <mat-progress-spinner color="warn" diameter="50" class="mat-progress-spinner" mode="determinate" [value]="artist.popularity">

                                </mat-progress-spinner> -->
                                <div style="position: relative; display: inline-block;">
                                    <mat-progress-spinner color="warn" diameter="60" mode="determinate" [value]="artist.popularity"></mat-progress-spinner>
                                    <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 16px; color: white;">{{artist.popularity}}</span>
                                </div>
                                <!-- <div style="position:relative; top: -60px; left: 30px;">{{artist.popularity}}</div> -->

                            </div>
                            <div class="col">
                                <h5>Followers</h5>
                                <h6 style="color: white;">{{artist.followers}}</h6>
                            </div>
                            <div class="col">
                                <h5>Spotify Link</h5>
                                <a href="{{artist.spotifyUrl}}" target="_blank">
                                    <img class="img-fluid border-0" style="width: 50%; max-width: 50px;" src="./assets/spotify_icon.png">
                                </a>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div *ngFor="let image of artist.albums" class="col">
                                <img class="img-fluid border-0" [src]="image.imageUrl" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>

    </div>
</div>
<ng-template #noArtist>
    <div class="no-artist m-5">No music related artist to show</div>
</ng-template>

</div>