.card {
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
}

.form-control {
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    /* width: 100%; */
    display: block;
    margin-bottom: 0px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

.card-title {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.search-line {
    color: white;
}

#email {
    display: inline
}

.required:after {
    content:" *";
    color: red;
}

.auto-loc-check {
    margin-right: 10px;
}